html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

:root{
    --FontRubik: 'Rubik', sans-serif;
    --MenuColor: #4a4a4a;
    --Backgroundcolor: #3CDBC0;
    --MainText: #FFFFFF;
}

.header {
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
  }

  .logo{
    width: 15.5rem;
    padding-bottom: 1rem;
  }

  .menu{
    display: inline-block;
  }

.menu-li{
    display: flex;  
    justify-content: space-around;
    gap: 2rem;
}

.link{
    text-decoration: none;
    color: var(--MenuColor);
    font-size: 1.6rem;
    font-family: var(--FontRubik);
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Backgroundcolor);
}

.title{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: var(--MainText);
    font-family: var(--FontRubik);
}

.separation{
    word-spacing: 100vw;
}

@media screen and (min-width: 768px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    .title{
        font-size: 4rem;
    }
}